@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zilla Slab", serif;
}

body {
    background-color: black;
}

.stopwatch {
    width: 90%;
    max-width: 600px;
    background-color: white;
    text-align: center;
    padding: 40px 0;
    margin: 200px auto 0;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.stopwatch h1 {
    font-size: 64px;
    font-weight: 300;
}

.buttons {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons img {
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
}

.buttons img:nth-child(2) {
    width: 80px;
}